{% extends "network/layout.html" %}

{% block body %}
    <h1>All posts</h1>
    {% for post in posts %}
        <div class="row justify-content-center">
            <div class="col-4 post" id="post{{ post.id }}">
                <p class="postauthor"><strong>{{ post.author }}</strong></p>
                <p class="posttime">Posted on {{ post.created }}</p>
                <p class="postcontent">{{ post.content }}</p>
                {% if post.liked %}
                <span class="like text-primary" id="like{{ post.id }}">Unlike</span>
                {% else %}
                <span class="like text-primary" id="like{{ post.id }}">Like</span> 
                {% endif %}
                <a href='#'>Comment</a>
                {% if post.likes.count == 1 %}
                <div id="likecount{{ post.id }}">{{ post.likes.count }} like</div>
                {% else %}
                <div id="likecount{{ post.id }}">{{ post.likes.count }} likes</div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}