{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/network.js' %}"></script>
    </head>
    <body>

        <nav class="navbar navbar-dark navbar-expand-sm bg-primary" id="bar">
            <a class="navbar-brand" href="{% url 'index' %}">The Social Network</a>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/user/{{user.profileurl}}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'all' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
              {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <span class="align-middle">
                        <li class="nav-item">
                            <div class="input-group mb-3 navbar-form" id="searchform">
                                <input type="text" class="form-control" autocomplete="off" id="searchfield" placeholder="Search" disabled>
                                <div id="results" class="list-group">
                                </div>
                                <button type="button" id="searchbtn" class="btn btn-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </li>
                    </span>
                    <span class="align-middle">
                        <li class="nav-item">
                            <button type="button" id="addnew" class="btn btn-light">+</button>
                        </li>
                    </span>
                </ul>
              {% endif %}
          </nav>
        <div id="newpost" class="row">
            <div class="col align-self-center">
                <form action="{% url 'newpost' %}" method="post">
                    <div class="form-row justify-content-center">
                    {% csrf_token %}
                    {{ postform }}
                        <input id="submitpost" type="submit" style="display:inline" class="btn btn-light" disabled> 
                    </div>
                </form>
            </div>
        </div>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>